*.envrc
*.vault_pass
*.terraform.lock.hcl
*.terraform/
*terraform.tfstate
*terraform.tfstate.backup
*.terraform.tfstate.lock.info
*.vagrant
.venv
ansible/artifacts/zerotier/identity.public
ansible/artifacts/zerotier/identity.secret
terraform/proxmox/files/*.cfg
