crash.log

.terraform/
*.tfstate
*.tfstate.*
*.tfvars
override.tf
override.tf.json
*_override.tf
*_override.tf.json
*.tfplan
*.plan*

.env
.envrc
*.env
*.envrc
*.vault_pass
*identity.public
*identity.secret

.venv/
.DS_Store
.ssh/
/old/
