# http
server {
    listen {{ openstack_ingress_ip }}:80;
    server_name {{ openstack_ingress_adress }}; 

    access_log /var/log/nginx/reverse-access.log;
    error_log /var/log/nginx/reverse-error.log;

    location / {
        proxy_pass http://{{ openstack_ingress_adress }};
  }
}

# keystone
server {
    listen {{ openstack_ingress_ip }}:5000;
    server_name {{ openstack_ingress_adress }}; 

    access_log /var/log/nginx/reverse-access.log;
    error_log /var/log/nginx/reverse-error.log;

    location / {
        proxy_pass http://{{ openstack_ingress_adress }}:5000;
  }
}

server {
    listen {{ openstack_ingress_ip }}:35357;
    server_name {{ openstack_ingress_adress }}; 

    access_log /var/log/nginx/reverse-access.log;
    error_log /var/log/nginx/reverse-error.log;

    location / {
        proxy_pass http://{{ openstack_ingress_adress }}:35357;
  }
}

# neutron
server {
    listen {{ openstack_ingress_ip }}:9696;
    server_name {{ openstack_ingress_adress }}; 

    access_log /var/log/nginx/reverse-access.log;
    error_log /var/log/nginx/reverse-error.log;

    location / {
        proxy_pass http://{{ openstack_ingress_adress }}:9696;
  }
}

# nova
server {
    listen {{ openstack_ingress_ip }}:8774;
    server_name {{ openstack_ingress_adress }}; 

    access_log /var/log/nginx/reverse-access.log;
    error_log /var/log/nginx/reverse-error.log;

    location / {
        proxy_pass http://{{ openstack_ingress_adress }}:8774;
  }
}

# heat
server {
    listen {{ openstack_ingress_ip }}:8004;
    server_name {{ openstack_ingress_adress }}; 

    access_log /var/log/nginx/reverse-access.log;
    error_log /var/log/nginx/reverse-error.log;

    location / {
        proxy_pass http://{{ openstack_ingress_adress }}:8004;
  }
}

# cinder
server {
    listen {{ openstack_ingress_ip }}:8776;
    server_name {{ openstack_ingress_adress }}; 

    access_log /var/log/nginx/reverse-access.log;
    error_log /var/log/nginx/reverse-error.log;

    location / {
        proxy_pass http://{{ openstack_ingress_adress }}:8776;
  }
}

# glance
server {
    listen {{ openstack_ingress_ip }}:9292;
    server_name {{ openstack_ingress_adress }}; 

    # don't check client body size to allow image uploads #
    client_max_body_size 0;

    access_log /var/log/nginx/reverse-access.log;
    error_log /var/log/nginx/reverse-error.log;

    location / {
        proxy_pass http://{{ openstack_ingress_adress }}:9292;
  }
}

# console
server {
    listen {{ openstack_ingress_ip }}:6080;
    server_name {{ openstack_ingress_adress }}; 

    access_log /var/log/nginx/reverse-access.log;
    error_log /var/log/nginx/reverse-error.log;

    location / {
        proxy_pass http://{{ openstack_ingress_adress }}:6080;
  }
}

# kibana
server {
    listen {{ openstack_ingress_ip }}:5601;
    server_name {{ openstack_ingress_adress }}; 

    access_log /var/log/nginx/reverse-access.log;
    error_log /var/log/nginx/reverse-error.log;

    location / {
        proxy_pass http://{{ openstack_ingress_adress }}:5601;
  }
}

# elasticsearch
server {
    listen {{ openstack_ingress_ip }}:9200;
    server_name {{ openstack_ingress_adress }}; 

    access_log /var/log/nginx/reverse-access.log;
    error_log /var/log/nginx/reverse-error.log;

    location / {
        proxy_pass http://{{ openstack_ingress_adress }}:9200;
  }
}

# magnum
server {
    listen {{ openstack_ingress_ip }}:9511;
    server_name {{ openstack_ingress_adress }}; 

    access_log /var/log/nginx/reverse-access.log;
    error_log /var/log/nginx/reverse-error.log;

    location / {
        proxy_pass http://{{ openstack_ingress_adress }}:9511;
  }
}

# octavia
server {
    listen {{ openstack_ingress_ip }}:9876;
    server_name {{ openstack_ingress_adress }}; 

    access_log /var/log/nginx/reverse-access.log;
    error_log /var/log/nginx/reverse-error.log;

    location / {
        proxy_pass http://{{ openstack_ingress_adress }}:9876;
  }
}

# designate
server {
    listen {{ openstack_ingress_ip }}:9001;
    server_name {{ openstack_ingress_adress }}; 

    access_log /var/log/nginx/reverse-access.log;
    error_log /var/log/nginx/reverse-error.log;

    location / {
        proxy_pass http://{{ openstack_ingress_adress }}:9001;
  }
}
